node_modules/
dist/
.firebase/
firestore-debug.log
ui-debug.log

# Private Keys & SSH
*.key
*.pub
*.pem

# Credentials in Text Files
*.txt

# Environmental Secrets
.env
.env.local
.env.development
.env.production

# Firebase Service Accounts
*.json
!package.json
!package-lock.json
!firebase.json

functions/service-account.json
*.key
*.pub
*.txt
.env.production